/* APPROACH MOBILE FIRST */

/* Desktop Responsive */

@media (min-width: 768px) {
	nav ul li {
		width: 15em;
	}

	.shadow-box {
		width: 12em;
		border-radius: 20px;
	}

	li span {
		font-size: 1.5em;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 1000px;
		text-align: left;
	}

	div.title-shadow {
		margin: -1.5em 0 0 -1.5em;
	}
}