/* APPROACH MOBILE FIRST */
:root {
	--dark-blue: #30384b;
	--dark-blue-secondary: #3c4356;
	--red: #fc4e4c;
	--green: #05eb8d;
}

body {
	background-color: var(--dark-blue);
	color: #ffffff;
	font-family: 'Courier New', Courier, monospace;
}

.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	margin: 0 0.5em 0 0;
	display: inline;
}

svg {
	fill: #ffffff;
	margin: 0 0 -0.8em 0;
	height: 3em;
	width: 3em;
}

nav ul {
	padding: 0;
	margin: 0.5em;
	display: flex;
	justify-content: center;
}

nav ul li {
	list-style: none;
	display: flex;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 0 0.5em;
	padding: 0.5em 0;
	width: 7.3em;
}

li span {
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

div.shadow,
div.border,
div.center {
	border-radius: 50% 50% 50% 50%;
	width: 15em;
	height: 15em;
	text-align: center;
}

div.shadow {
	padding: 1.5em;
	margin: 0 auto;
}

div.border {
	margin: -4.0px;
}

div.center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

span.time {
	font-size: 4em;
}

div.controls {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: -3em auto;
	width: 18em;
	height: 4em;
	border-radius: 25px;
}

div.controls a {
	height: 3em;
}

div.title-shadow {
	height: 2em;
	width: 17em;
	border-radius: 15px;
	margin: -1.5em auto 0 auto;
}

span.time-description {
	font-size: 1.4em;
	text-transform: uppercase;
}